<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.pandacorp.com">
            Panda Colocaciones
          </a>
        </li>
        <li>
          <a href="">
            About Us
          </a>
        </li>
        <li>
          <a href="">
            Blog
          </a>
        </li>
        <li>
          <a href="">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, Hecho por
      <a href="https://www.pandacorp.com" target="_blank">Panda Corp.</a> Soluciones colectivas.
    </div>
  </div>
</footer>
